name: singleuser-release
on:
  workflow_dispatch:
    inputs:
      dockerfile_name:
        description: 'Dockerfile to use for the build'
        required: true
        default: 'Dockerfile'
        type: choice
        options:
          - 'Dockerfile'
          - 'DockerfileIDE'
      jupyterhub_version:
        required: true
        default: '4.0.2'
        type: choice
        options:
          - '5.0.0'
          - '4.0.2'

jobs:
  release-image-matrix:
    if: github.event.inputs.dockerfile_name == 'Dockerfile'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # following python version end of life: https://devguide.python.org/versions/
          - py_ver: '3.11'
          - py_ver: '3.10'
          - py_ver: '3.9'
          - py_ver: '3.8'
    env:
      PYTHON_VERSION: ${{matrix.py_ver}}
      JUPYTERHUB_VERSION: ${{github.event.inputs.jupyterhub_version}}
      DOCKERFILE_NAME: ${{github.event.inputs.dockerfile_name}}
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build and push Docker image
        id: docker-build
        run: |
          cd singleuser
          bash ../.github/scripts/build-and-push.sh

  release-image-ide:
    if: github.event.inputs.dockerfile_name == 'DockerfileIDE'
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: '3.11'
      JUPYTERHUB_VERSION: ${{github.event.inputs.jupyterhub_version}}
      DOCKERFILE_NAME: ${{github.event.inputs.dockerfile_name}}
    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          submodules: true
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build and push Docker image
        id: docker-build
        run: |
          cd singleuser
          bash ../.github/scripts/build-and-push.sh
